@import "reset.less";
@import "variables.less";
@import "general-styles.less";

@phone: (max-width: 560px);
@media @phone {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

//mixins
.center(){
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vert(){
  display: flex;
  align-items: center;
}

.custom-btn(@width, @height, @background, @font-size, @font-color) {
    width: @width;
    height: @height;
    background: @background;
    font-size: @font-size;
    color: @font-color;
    }

header {
	background-color: @primaryColor;
    margin: 0 0 0 0;
    height: 125px;
	display: flex;
	justify-content: center;

	h1 {
      font-size: 2.6rem;
      font-weight: @boldWeight;
      color: @secondaryColor;
      margin: 0 @gutter;
      .center;
    }
   
   .nav-container {
    .center;
    width: 800px;
    

      nav {
      .center;

     ul li {
      justify-content: center;
      float: left;
      list-style: none;
      
        a {
          font-weight: @normalWeight;
          color: darken(@secondaryColor, 30%);
          font-size: 1.5rem;
          margin-left: 20px;
        }
     
      }
    }
  }
  
    .mainContainer{
        max-width: 990px;
        margin: 0 auto;
    }

}


/* Overall styling for the BODY of the document */

body{
  font-family: @defaultFont;
  font-weight: @normalWeight;
  font-size: 16px;


  

main {

  h1 {
  .center;
  color: @secondaryColor;
  font-weight: @normalWeight;
  margin: 0 0  20px @gutter;
  font-size: 2.5rem;   
  }



  section {
    display: flex;
    justify-content: center;
      figure {
        width: 100%;
      }
        img {
        width: 100%;
        }
  }
  
    .btn{
       font-weight: @boldWeight; 
        font-family: @defaultFont;
        border: none;
        .center;
       .custom-btn(250px, 75px, @secondaryColor, 2rem, @primaryColor)
    }



  section {
    .center;
    flex-wrap: nowrap;
    margin-top: 20px;
      @media @phone{
          flex-wrap: wrap;
      }

    .container {
      figure {
         max-width: 100%;
        img {width: 100%;}
      } //end figure
    } //end container
  }// end section

  .gallery {
    display: flex;
    justify-content: center;
      
        figure {
          max-width: 100%;
            margin-left: 20px;
          img {
            width: 100%;
            max-width: 200px;
            max-height: 200px;
            margin-left: 20px;
            }
        }
      }


      /**** SPA MENU ****/
.container {
  max-width: 990px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-evenly;

  
  @media @phone {
      flex-wrap: wrap;
  }
  
  .left-content {
    max-width: 28%;
    flex-direction: column;
   
      
      h2 {
            color: @secondaryColor;
            font-weight: @normalWeight;
            font-size: 2rem;
            padding: 5px;
            margin: 15px 0 15px 0;
      }
      ul li {
            font-weight: @normalWeight;
            list-style: none;
            font-size: 1.5rem;
            margin-bottom: 15px;
          
              a {
                color: darken(@secondaryColor, 20%);
              }
          }
    
        @media @phone {
          width: 100%;
        }
  }
  
  .center-content {
    width: 72%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    @media @phone {
      width: 100%;
    }
      figure.mainImage img{
          width: 100%;
          flex-wrap: nowrap;
          
      }

      .thumb img{
          width: 72%;
          flex-wrap: nowrap;
          margin-left: 30px;
      }


  }
  
}
     

  }//end main

  footer {
      background-color: @primaryColor;
      width: 100%;
      padding: 5px;
      margin-top: 20px;
      font-weight: @normalWeight;
      display: flex;
      justify-content: center; 
      flex-wrap: nowrap;
      }
    }
    